* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    align-items: stretch;
    border: 1em solid #ddd;
    height: 100%;
}

main aside {
    width: 20em;
    background: #eee;
    flex-grow: 0;
    overflow: scroll;
}
main section {
    background: white;
    flex-grow: 1;
}

label {
    display: block;
}

h1 {
    text-align: center;
}
