* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

h1 {
    padding: 0.3em;
    margin: 0;
    text-align: center;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

svg {
    background: #eee;
    width: 40em;
    height: 40em;
}

@media only screen and (max-width: 400px) {
    svg {
        width: 20em;
        height: 20em;
    }
}

#command {
    border: 1px solid #eee;
    width: 100%;
    max-width: 20em;
    height: 20em;
    padding: 0.5em;
}

path {
    fill: transparent;
    stroke: black;
    stroke-width: 0.05;
}