* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

label {
    display: block;
}

div.header {
    display: flex;
    width: 100%;
    padding: 0.2em;
    background: #eee;
    margin: 1em 0;
    font-weight: bold;
}

div.root {
    position: relative;
    display: block;
    flex-flow: column nowrap;
}

div.item {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    padding: 0.2em;
    background: #eee;
}

div.item>span,div.header>span {
    width: 10em;
    padding: 0 1em;
}