label {
    display: block;
}

div.root {
    position: relative;
    display: block;
    flex-flow: column nowrap;
}
div.item {
    position: absolute;
    width: 100%;
    padding: 0.2em;
    background: #eee;
}